.c-btn{
    margin: 10px auto;
    

    &__search{
        margin: 0px;
    }
    &__like{
        margin: 10px;
        border: none;
        background-color: rgb(246,245,244);

    }
    &__fa--red{
        color: red;
    }
    &__fa--green{
        color: green;
    }
    &__mypage{
        display: block;
        margin: 0px auto;
        margin-bottom: 20px;
    }
    &__edit{
        color: white;
        border-color: green;
        background-color: green;
        display: inline-block;
        border-radius: 10px;
        width: 100px;
    }
    &__delete{
        color: white;
        border-color: red;
        background-color: red;
        display: block;
        border-radius: 10px;
        width: 100px;
        margin-top: -47px;
        margin-left: 150px;

    }
    &__icon{
        color: white;
        border-color: green;
        background-color: green;
        display: block;
        border-radius: 10px;
        width: 160px;
    }
}

