.c-btn{
    &--like{
        margin: 10px;
        border: none;
        // background-color: rgb(246,245,244);
        background-color: white;
    }
    &--red{
        color: red;
    }
    &--green{
        color: green;
        background-color: white;
    }
   
    &--edit{
        color: white;
        background-color: green;
        display: inline-block;
        border-radius: 10px;
        width: 120px;
    }
    &--delete{
        color: white;
        background-color: red;
        display: block;
        border-radius: 10px;
        width: 100px;
    }
}

