.c-input
    {        
    &__profile{
    width: 30%;
    margin-bottom: 10px;
        @include mq() {
            width: 60%;
        }
    }
                
    &__product{
        width: 30%;
        margin-bottom: 10px;
            @include mq() {
                width: 60%;
        }
    }

    &__day{
        width: 200px;
        border-radius: 3px; /*ボックス角の丸み*/
        border: 2px solid #ddd; /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
        height: 30px;
        font-size: 18px;
        // @include mq() {
        //     width: 200px;
        // }
        @include sm() {
            width:  45%;
        }
    }

    &__price{
        width: 200px;
        border-radius: 3px; /*ボックス角の丸み*/
        border: 2px solid #ddd; /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
        height: 30px;
        font-size: 18px;
        // @include mq() {
        //     width: 200px;
        // }
        @include sm() {
            width:  44%;
        }
    }
}
    