.c-input {
    font-size: 18px;
    border-radius: 3px;
    box-sizing: border-box;
    
    &--step {
        width: 100%;
        margin: 10px 0px;
        height: 30px;
        border: 2px solid #ddd;
    }

    &--day {
        width: 200px;
        height: 30px;
        margin: 0px 10px;
        border: 2px solid #ddd;
        @include sm() {
            width: 45%;
        }
    }
}