.c-link{
    
    &__show--all{
        display: block;
        text-align: center;
    }

    &__signup{
        display: block;
        margin:20px;
        font-size: 18px;
    }

    &__login{
        display: block;
        margin: 20px;
        font-size: 18px;
    }
}