.p-card{
    width:100%;
    &--top{
        display: table;
        width: 80%;
        margin: 100px auto;
        margin-bottom: 20px;
        background-color:white;
        padding: 10px 0;
        @include mq() {  
            width: 100%;    
        }
    }

    &--scaff{
        display: table;
        text-align: center;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        background-color:white;
        padding: 10px 0;
        @include sm() {  
            width: 100%;    
        }
    }

    &--step{
        display: table;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 80px;
        background-color:white;
        padding: 10px 20px;
    }

    &--profile{
        display: table;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 80px;
        background-color:white;
        padding: 10px 20px;
    }

    &__header{
        font-size: 24px;
        margin-bottom: 10px;
            &--index{
                font-size: 20px;
                margin-bottom: 5px;
                    @include sm() {
                        font-size: 16px;    
                    }
            }
    }
}