.p-card {
    width: 100%;
    display: table;
    margin: 0 auto;
    margin-bottom: 50px;

    &--auth {
        text-align: center;
        width: 80%;
        background-color: white;
        padding: 10px 0;

        @include sm() {
            width: 100%;
        }
    }

    &--step {
        width: 60%;
        background-color: white;
        padding: 10px 20px;
    }

    &--profile {
        width: 60%;
        background-color: white;
        padding: 10px 20px;
    }

    &__header {
        font-size: 24px;
        margin-bottom: 10px;

        @include sm() {
            font-size: 16px;
            height: 32px;
        }
        &--step {
            height: 48px;
            @include sm() {
                height: 32px;
            }
        }
        &--detail {
            height: 68px;
            @include sm() {
                height: 48px;
            }
        }
    }

    &__challengebtn {
        background-color: white;
    }
}
