.p-child{
    &{
        margin: 0 10px;
        padding:10px;
        background-color: white;
    }

    &__name{
        font-size: 24px;
        margin-bottom: 10px;
        white-space: pre;
    }

    &__content{
        margin-bottom: 20px;
        white-space: pre;
    }

    &__link{
        margin: 10px;
        font-size: 18px;
    }
}