.p-mypage {
    &__icon {
        margin: 10px auto;
        width: 200px;
        display: block;
        @include sm() {
            width: 150px;
        }
    }

    &__btn {
        display: block;
        margin: 0px auto;
        margin-bottom: 30px;
        color: white;
        background-color: green;
    }

    &__title {
        font-size: 24px;
        text-align: center;
    }
}