.p-profile {
    &__icon {
        width: 300px;
        height: auto;
        margin-top: 10px;
    }

    &__input {
        width: 100%;
        margin: 10px 0px;

        @include mq() {
            width: 60%;
        }
    }
}