.p-search {
    margin-left: 5px;
    margin-bottom: 10px;
    display: table;
    margin-left: 10px;

    @include sm() {
        float: left;
        margin-left: 5px;
    }

    &__btn {
        height: 24px;
    }

    &__input {
        width: 200px;
        height: 30px;
        margin: 0px 10px;
        border: 2px solid #ddd;
        @include sm() {
            width: 45%;
        }
    }


}