@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

/* ---------------------------------
mixin
--------------------------------- */
body {
  background: #f6f5f4;
  color: #333;
}

.alert {
  color: red;
}

a:visited {
  color: #0066c0;
}

a:visited {
  color: #0066c0;
}

.c-btn--challenge {
  margin: 10px;
  border: none;
  background-color: rgb(246, 245, 244);
}
.c-btn--check {
  margin: 10px;
  border: none;
  background-color: white;
}
.c-btn--red {
  color: red;
}
.c-btn--green {
  color: green;
  background-color: white;
}
.c-btn--edit {
  color: white;
  background-color: green;
  display: inline-block;
  border-radius: 10px;
  width: 120px;
}
.c-btn--delete {
  color: white;
  background-color: red;
  display: block;
  border-radius: 10px;
  width: 100px;
}

.c-count {
  float: right;
}

.c-error {
  color: red;
}

.c-icon {
  width: 50px;
  height: auto;
  margin: 0 5px;
}

.c-input {
  font-size: 18px;
  border-radius: 3px;
  box-sizing: border-box;
}

.c-textarea {
  margin-top: 10px;
  font-size: 18px;
  width: 100%;
  margin: 10px 0px;
  height: 200px;
  border: 2px solid #ddd; /*枠線*/
}

.c-link {
  display: block;
  margin: 20px;
  font-size: 18px;
}

.c-session {
  text-align: center;
  color: green;
  margin: 10px;
}

.c-sucess {
  color: green;
}

.c-title {
  margin: 10px;
}
.c-title__stepname {
  margin-bottom: 10px;
  color: orange;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  text-align: center;
  background-color: white;
  margin-right: 5px;
}

.pagination .page-item .page-link {
  font-size: 24px;
}

.p-nav {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  color: #777;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 414px) {
  .p-nav {
    height: 50px;
  }
}
.p-nav--right {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.p-nav__menu {
  display: flex;
  margin: 5px;
}
@media screen and (max-width: 414px) {
  .p-nav__menu {
    display: none;
  }
}
.p-nav__menu--name {
  color: black;
}
.p-nav__hamberger {
  display: none;
}
@media screen and (max-width: 414px) {
  .p-nav__hamberger {
    display: flex;
  }
}

.p-card {
  width: 100%;
  display: table;
  margin: 0 auto;
  margin-bottom: 50px;
}
.p-card--auth {
  text-align: center;
  width: 80%;
  background-color: white;
  padding: 10px 0;
}
@media screen and (max-width: 414px) {
  .p-card--auth {
    width: 100%;
  }
}
.p-card--step {
  width: 60%;
  background-color: white;
  padding: 10px 20px;
}
.p-card--profile {
  width: 60%;
  background-color: white;
  padding: 10px 20px;
}
.p-card__header {
  font-size: 24px;
  margin-bottom: 10px;
}
@media screen and (max-width: 414px) {
  .p-card__header {
    font-size: 16px;
  }
}
.p-card__challengebtn {
  background-color: white;
}

.p-content {
  margin-left: 10px;
}

.p-detail__link {
  margin: 10px;
  font-size: 18px;
}

.p-dialog__background {
  /* 画面全体を暗くする透過背景 */
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
}
.p-dialog__container {
  /* ポップアップ本体 */
  display: inline-block;
  position: fixed;
  width: 40%;
  z-index: 1100;
  background: #fff;
  padding: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
}
@media screen and (max-width: 768px) {
  .p-dialog__container {
    width: 60%;
  }
}
.p-dialog__message {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.p-dialog__button {
  display: flex;
  justify-content: space-evenly;
}
.p-dialog__consent {
  color: white;
  border-color: red;
  background-color: red;
  display: block;
  border-radius: 10px;
  width: 120px;
}
.p-dialog__cancel {
  color: gray;
  border-color: gray;
  background-color: white;
  display: block;
  border-radius: 10px;
  width: 100px;
}

.p-flexbox {
  margin: 10px;
}
@media screen and (max-width: 768px) {
  .p-flexbox {
    margin: 0px;
  }
}
.p-flexbox__flexcontainer {
  display: flex;
  flex-flow: row wrap;
  min-height: 150px;
  width: 100%;
}
.p-flexbox__flexitem {
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: calc(25% - 20px);
  min-height: 170px;
}
@media screen and (max-width: 768px) {
  .p-flexbox__flexitem {
    margin: 5px;
    width: calc(50% - 10px);
  }
}

.p-form {
  margin: 20px;
}
.p-form__input--step {
  width: 100%;
  margin: 10px 0px;
  height: 30px;
  border: 2px solid #ddd;
}
.p-form__input--auth {
  margin-bottom: 10px;
  border: 2px solid #ddd;
}

.p-header__main {
  margin: 20px;
  font-size: 50px;
  font-family: "Amatic SC", cursive;
  text-decoration: none;
  color: #333;
}
@media screen and (max-width: 768px) {
  .p-header__main {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 414px) {
  .p-header__main {
    font-size: 25px;
    margin: auto;
    margin-left: 5px;
  }
}
.p-header__icon {
  width: 50px;
  height: 50px;
}

.p-profile__icon {
  width: 300px;
  height: auto;
  margin-top: 10px;
}
.p-profile__input {
  width: 100%;
  margin: 10px 0px;
  border: 2px solid #ddd; /*枠線*/
}
@media screen and (max-width: 768px) {
  .p-profile__input {
    width: 60%;
  }
}

.p-search {
  margin-left: 5px;
  margin-bottom: 10px;
  display: table;
  margin-left: 10px;
}
@media screen and (max-width: 414px) {
  .p-search {
    float: left;
    margin-left: 5px;
  }
}
.p-search__btn {
  margin-left: 5px;
  height: 24px;
}
.p-search__input {
  width: 200px;
  height: 30px;
  border: 2px solid #ddd;
}
@media screen and (max-width: 414px) {
  .p-search__input {
    width: 45%;
  }
}
.p-search__wavyline {
  margin: 0 5px;
}

.p-message__background {
  /* 画面全体を暗くする透過背景 */
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
}
.p-message__container {
  width: 150px;
  height: 150px;
  padding: 10px;
  box-sizing: border-box;
  position: fixed;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  display: flex;
  background: #abaeb7;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  transition: all 0.8s;
}
.p-message__container--success {
  color: green;
}
.p-message__container--error {
  color: red;
}
.p-message__container--close {
  opacity: 0;
}
.p-message__container.is-active {
  opacity: 1;
}
.p-message__circle {
  margin-bottom: 10px;
  font-size: 32px;
}
.p-message__text {
  font-size: 20px;
}

.p-mypage__icon {
  margin: 0px auto;
  width: 200px;
  height: 200px;
  display: block;
}
.p-mypage__btn {
  display: block;
  margin: 0px auto;
  margin-bottom: 20px;
  color: white;
  background-color: green;
}
.p-mypage__title {
  font-size: 24px;
  text-align: center;
}

.hamburger {
  width: 40px;
  height: 25px;
  position: relative;
  transition: 0.5s;
}

.hamburger span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: blue;
  transition: 0.5s;
}

.hamburger span:first-of-type { /* ハンバーガーメニューの1番目の線 */
  top: 0;
}

.hamburger span:nth-of-type(2) { /* ハンバーガーメニューの2番目の線 */
  top: 50%;
}

.hamburger span:last-of-type { /* ハンバーガーメニューの3番目の線 */
  top: 100%;
}

.slide-menu {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 65px;
  width: 100%;
  height: 100%;
  left: 0;
}

.slide-menu li {
  color: #fff;
  line-height: 400%;
  text-align: center;
}

.hamburger--active {
  width: 40px;
  height: 25px;
  position: relative;
  transition: 0.5s;
}

.hamburger--active span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: blue;
  transition: 0.5s;
}

.hamburger--active {
  transform: rotateY(360deg);
}

.hamburger--active span:first-of-type { /* ハンバーガーメニューの1番目の線 */
  top: 50%;
  transform: rotate(45deg);
}

.hamburger--active span:nth-of-type(2) { /* ハンバーガーメニューの2番目の線 */
  opacity: 0; /* 透明にする */
}

.hamburger--active span:last-of-type { /* ハンバーガーメニューの3番目の線 */
  top: 50%;
  transform: rotate(-45deg);
}

.p-top {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
  min-width: 100vh;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-top__logo {
  width: 50%; /*画像の幅*/
  height: 50%;
}

.p-top__menubar {
  display: flex;
  justify-content: center;
}

.u-border__none--top {
  border-top: none;
}

@media screen and (max-width: 414px) {
  .u-br::before {
    content: "\a";
    white-space: pre;
  }
}

.u-btn--delete {
  margin-top: -47px;
  margin-left: 150px;
}

.u-display--none {
  display: none;
}

.u-overflow {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 414px) {
  .u-overflow {
    -webkit-line-clamp: 2;
  }
}
